<!-- <div class="fun-fact-wrapper bg-gray section-space--ptb_120" *ngIf="language">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="modern-number-01 me-5">
                    <h2 class="heading"><span class="mark-text">8</span>{{language.yearsExperience}}</h2>
                    <h3 class="heading">{{language.learnAboutSuccess}} <span
                            class="text-color-primary">{{language.successStories}}</span>
                    </h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="row">
                    <div class="col-md-6 col-sm-6 wow move-up">
                        <div class="fun-fact--three text-center">
                            <div class="fun-fact__count counter">1790</div>
                            <h6 class="fun-fact__text">Account numbers</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow move-up">
                        <div class="fun-fact--three text-center">
                            <div class="fun-fact__count counter">32</div>
                            <h6 class="fun-fact__text">Finished projects</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow move-up">
                        <div class="fun-fact--three text-center">
                            <div class="fun-fact__count counter">73</div>
                            <h6 class="fun-fact__text">Happy clients</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow move-up">
                        <div class="fun-fact--three text-center">
                            <div class="fun-fact__count counter">318</div>
                            <h6 class="fun-fact__text">Blog posts</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div> -->

<div class="fun-fact-wrapper bg-gray section-space--ptb_120" *ngIf="language">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_60">
                    <h6 class="section-sub-title mb-20">{{language.aboutUsCardOneTitle}}</h6>
                    <h3 class="heading">{{language.aboutUsCardOneText}} <br>
                        {{language.aboutUsCardOneTextSecond}} <span class="text-color-primary">
                            {{language.aboutUsCardOneTextThree}}</span></h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>

        <div class="cybersecurity-about-box section-space--pb_70">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="modern-number-01">
                        <h2 class="heading  me-5"><span class="mark-text">8</span>{{language.yearsExperience}}
                        </h2>
                        <h6 class="heading mt-30">{{language.moreAboutSuccessStory}}</h6>
                    </div>
                </div>

                <div class="col-lg-5 offset-lg-1">
                    <div class="cybersecurity-about-text">
                        <div class="text">{{language.aboutOurCompanyText}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>