<!--============ Resolutions Hero Start ============-->
<div *ngIf="language">
    <div class="resolutions-hero-slider position-relative">
        <div class="swiper-container hero-slider__container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero-wrapper resolutions-hero-space resolutions-hero-bg" data-swiper-autoplay="5000">
                        <div class="resolutions-hero-area-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 m-auto">
                                        <div class="service-hero-wrap wow move-up">
                                            <div class="service-hero-text text-center">
                                                <h4 class="text-white">{{language.sliderFirstTitleFirst}}</h4>
                                                <h2 class="font-weight--reguler text-white mb-30">
                                                    {{language.sliderFirstTitleSecond}}</h2>
                                                <p class="text-white">{{language.sliderFirstText}}</p>

                                                <div class="hero-button-group section-space--mt_50">
                                                    <a routerLink="/contact-us"
                                                        class="ht-btn ht-btn-md">{{language.sliderButtonOne}}</a>
                                                    <a routerLink="/about-us" class="ht-btn ht-btn-md btn--white"><span
                                                            class="btn-icon me-2"><i class="fa fa-play"></i></span>
                                                        {{language.sliderButtonTwo}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-wrapper resolutions-hero-space resolutions-hero-bg-2" data-swiper-autoplay="5000">
                        <div class="resolutions-hero-area-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 m-auto">
                                        <div class="service-hero-wrap wow move-up">
                                            <div class="service-hero-text text-center">
                                                <h3 class="text-white">{{language.sliderFirstTitleFirst}}</h3>
                                                <h1 class="font-weight--reguler text-white mb-30">
                                                    {{language.sliderFirstTitleThree}}</h1>
                                                <p class="text-white">{{language.sliderFirstText}}</p>

                                                <div class="hero-button-group section-space--mt_50">
                                                    <a routerLink="/contact-us"
                                                        class="ht-btn ht-btn-md">{{language.sliderButtonOne}}</a>
                                                    <a routerLink="/about-us" class="ht-btn ht-btn-md btn--white"><span
                                                            class="btn-icon me-2"><i class="fa fa-play"></i></span>
                                                        {{language.sliderButtonTwo}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-separator center_curve_alt bottom">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M 0 0 L0 100 L100 100 L100 0 Q 50 200 0 0"></path>
            </svg>
        </div>
    </div>
    <!--============ Resolutions Hero End ============-->


    <!--===========  feature-images-wrapper  Start =============-->
    <div class="feature-images-wrapper bg-gray">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="feature-images__five resolutions-hero-bottom">
                        <div class="row">

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-05">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <div class="default-image">
                                                <img class="img-fulid"
                                                    src="assets/images/icons/mitech-home-resolutions-box-image-01-100x98.webp"
                                                    alt="">
                                            </div>
                                            <div class="hover-images">
                                                <img class="img-fulid"
                                                    src="assets/images/icons/mitech-home-resolutions-box-image-01-hover-100x98.webp"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{{language.sliderSecondTitleFirst}} </h5>
                                            <div class="text">{{language.sliderSecondText}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-05">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <div class="default-image">
                                                <img class="img-fulid"
                                                    src="assets/images/icons/mitech-home-resolutions-box-image-02-100x98.webp"
                                                    alt="">
                                            </div>
                                            <div class="hover-images">
                                                <img class="img-fulid"
                                                    src="assets/images/icons/mitech-home-resolutions-box-image-02-hover-100x98.webp"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{{language.sliderThreeTitleFirst}}</h5>
                                            <div class="text">{{language.sliderThreeText}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-05">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <div class="default-image">
                                                <img class="img-fulid"
                                                    src="assets/images/icons/mitech-home-resolutions-box-image-03-100x98.webp"
                                                    alt="">
                                            </div>
                                            <div class="hover-images">
                                                <img class="img-fulid"
                                                    src="assets/images/icons/mitech-home-resolutions-box-image-03-hover-100x98.webp"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{{language.sliderFourTitleFirst}}</h5>
                                            <div class="text">{{language.sliderFourText}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                        </div>
                    </div>

                    <div class="section-under-heading text-center section-space--mt_80">{{language.challengeText}} <a
                            routerLink="/about-us">{{language.takeChallenge}}</a></div>

                </div>
            </div>
        </div>
    </div>
    <!--===========  feature-images-wrapper  End =============-->


    <app-fun-fact></app-fun-fact>


    <!--=========== fun fact Wrapper Start ==========-->

    <!--=========== fun fact Wrapper End ==========-->

    <!--===========  feature-icon-wrapper  Start =============-->
    <app-services></app-services>
    <!--===========  feature-icon-wrapper  End =============-->
    <!--====================  Conact us Section Start ====================-->
    <app-contact-us></app-contact-us>
    <!--====================  Conact us Section End  ====================-->
    <!--====================  testimonial section ====================-->
    <!-- <app-testimonial></app-testimonial> -->
    <!--====================  End of testimonial section  ====================-->

    <app-feature></app-feature>

    <app-call-us></app-call-us>

    <!--====================  brand logo slider area ====================-->
    <!-- <div class="brand-logo-slider-area section-space--ptb_60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-logo-slider__container-area">
                        <div class="swiper-container brand-logo-slider__container">
                            <div class="swiper-wrapper brand-logo-slider__one">
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-01.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-01-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-02.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-02-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-03.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-03-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-04.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-04-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-05.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-05-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-06.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-06-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-07.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-07-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-08.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-08-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide brand-logo brand-logo--slider">
                                    <a href="#">
                                        <div class="brand-logo__image">
                                            <img src="assets/images/brand/mitech-client-logo-09.webp" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="brand-logo__image-hover">
                                            <img src="assets/images/brand/mitech-client-logo-09-hover.webp"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--====================  End of brand logo slider area  ====================-->
</div>

<!--Cookie message-->
