<div class="feature-icon-wrapper section-space--ptb_100" *ngIf="language">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrap text-center section-space--mb_40">
                    <h6 class="section-sub-title mb-20">{{language.servicesSubtitle}}</h6>
                    <h3 class="heading">{{language.servicesTitleOne}} <br> {{language.servicesTitleSecond}} <span
                            class="text-color-primary">
                            {{language.servicesTitleThree}}</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="feature-list__one">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-1"
                                            src="assets/images/svg/linea-basic-heart.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardOneTitle}} </h5>
                                        <div class="text">{{language.servicesCardOneText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-2"
                                            src="assets/images/svg/linea-basic-case.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardTwoTitle}}</h5>
                                        <div class="text">{{language.servicesCardTwoText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-3"
                                            src="assets/images/svg/linea-basic-alarm.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardThreeTitle}}</h5>
                                        <div class="text">{{language.servicesCardThreeText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-4"
                                            src="assets/images/svg/linea-basic-geolocalize-05.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardFourTitle}}</h5>
                                        <div class="text">{{language.servicesCardFourText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-5"
                                            src="assets/images/svg/linea-ecommerce-money.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardFiveTitle}}</h5>
                                        <div class="text">{{language.servicesCardFiveText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-6"
                                            src="assets/images/svg/linea-basic-spread-text-bookmark.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardSixTitle}}</h5>
                                        <div class="text">{{language.servicesCardSixText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-7"
                                            src="assets/images/svg/linea-music-headphones.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardSevenTitle}}</h5>
                                        <div class="text">{{language.servicesCardSevenText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                        <div class="col-lg-3 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-icon style-01 single-svg-icon-box">
                                <div class="icon-box-wrap">
                                    <div class="icon">
                                        <img class="svg-icon" id="svg-icon-8"
                                            src="assets/images/svg/linea-basic-gear.svg">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">{{language.servicesCardEightTitle}}</h5>
                                        <div class="text">{{language.servicesCardEightText}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>